<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      
    <span class="welcome" *ngIf="email" fxHide.gt-sm="true">{{email}}</span>
    <span class="welcome" *ngIf="email" fxHide.lt-md="true">Hello, {{email}}!</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-sm="true">
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="notifications-menu">
      <mat-card *ngFor="let notification of notifications" class="notification-card">
        <mat-card-header class="notification-header">
          <mat-icon mat-card-avatar class="notification-icon">warning</mat-icon>
          <mat-card-title class="notification-title">{{notification.description.substring(7, notification.description.length)}}</mat-card-title>
          <mat-card-subtitle class="notification-subtitle">{{getDate(notification.time)}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-menu>
    <mat-icon fxHide.gt-sm="true" (click)="logout()" *ngIf="email">meeting_room </mat-icon>
    
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/login" *ngIf="!email">Login</a>
      <a mat-button routerLink="/register" *ngIf="!email">Register</a>
      <a mat-button routerLink="/map">Map</a>
      <a mat-button routerLink="/report-incident" *ngIf="email && email !== 'admin@gmail.com'">Report Incident</a>
      <a mat-button routerLink="/admin-incidents" *ngIf="email && email === 'admin@gmail.com'">Admin Incidents</a>
      <a mat-button routerLink="/incidents">Incidents</a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="notifications-menu">
        <mat-card *ngFor="let notification of notifications" class="notification-card">
          <mat-card-header class="notification-header">
            <mat-icon mat-card-avatar class="notification-icon">warning</mat-icon>
            <mat-card-title class="notification-title">{{notification.description.substring(7, notification.description.length)}}</mat-card-title>
            <mat-card-subtitle class="notification-subtitle">{{getDate(notification.time)}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-menu>
      <button mat-raised-button (click)="logout()" *ngIf="email">Logout</button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container content">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/login" *ngIf="!email">Login</a>
        <a mat-button routerLink="/register" *ngIf="!email">Register</a>
        <a mat-button routerLink="/map">Map</a>
        <a mat-button routerLink="/report-incident" *ngIf="email && email !== 'admin@gmail.com'">Report Incident</a>
        <a mat-button routerLink="/admin-incidents" *ngIf="email && email === 'admin@gmail.com'">Admin Incidents</a>
        <a mat-button routerLink="/incidents">Incidents</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
